.container-About-Page {
    padding: 14em 4em;
    margin: 0 auto;
    width: 80vw;
}

.about-Page-Title p {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    font-weight: bold;
    color: rgb(41, 41, 41);
    line-height: 2;

}


.about-Page-Title h2 {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    font-weight: bold;
    color: white;
}